@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html{
    border: 6px solid rgb(23, 112, 50);
}

.body_page {
    font-family: 'Lato', sans-serif, Calibri;
    width: 1100px;
    margin: 0 auto;
    border: 6px solid blue;
}

.header {
    background-image: url("../img/header_bg.png"); 
    background-color: #cccccc;
    background-repeat: space;
    

    position: relative;
}

.header a{
    bottom: 30px;
    left: 20%;
    margin: 5px;  
    text-decoration: none;
    position: relative;
}

/* a:link {
    text-decoration: none;
}
  
   visited link 
a:visited {
    color: green;
}
  
    mouse over link 
a:hover {
    color: hotpink;
}
  
   selected link 
a:active {
    color: blue;
} */

.container_1 {
    background-image: url("../img/banner_bg.png"); 
    background-color: #cccccc;
    background-repeat: space;
    height: 425px;
    display: grid;
    
    position: relative;
}
.container_1 img{
    margin: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid_item4{ 
    grid-column-start: 3;
    grid-column-end: 5;
}


.container_2 {
    display: grid;
}

.grid_item1 {
    grid-row-start: 1;
    grid-row-end: 2; 
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid_item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid_item3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

#pagina_not_found_text {
    color: crimson;
}

#auto_img {
    width: 690px;
    height: 320px;
    border: 8px solid white;
}

#kleding_img {
    width: 690px;
    height: 320px;
    border: 8px solid white;
}

footer {
    background-image: url("../img/footer_bg.png"); 
    background-color: #cccccc;
    background-repeat: space;
    height: 40px;
    text-align: center;
    padding: 5px;
}

p {
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 26px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 20px;
    line-height: 22px;
}